# =====================
# Flutter / Dart
# =====================
.dart_tool/
build/
**/.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# =====================
# Platform builds
# =====================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/
android/.gradle/
android/local.properties

# =====================
# IDE / OS
# =====================
.DS_Store
.idea/
.vscode/
*.iml

# =====================
# Logs / temp
# =====================
*.log
*.swp
*.class
*.pyc# =====================
# Logs / temp
# =====================
*.log
*.swp
*.class
*.pyc
